name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: npm install -g npm@latest && npm ci
      - name: Generate types
        run: npm run generate-types
      - name: Lint
        run: npm run lint
      - name: Type check
        run: npm run typecheck
      - name: Build
        run: npm run build
      - name: Publish
        run: npm publish
